@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(28, 159, 224, 0.2), rgba(49, 227, 75, 0.2)), url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}